<!-- Header-->

<div class="container-fluid">
    <div class="row text-center">
        <div class="col">
            <h1>ABOUT ME</h1>
            <br>
            <br>
        </div>
    </div>
</div>

<!-- Paragraph 1-->

<div class="container">
    <div class="row m-4">
        <div class="col-md-6">
            <img src="/images/about1.jpg" alt="pic1" class="img-fluid mx-auto d-block max-ph">
        </div>
        <div class="col-md-6">
            <h2>Small introduction</h2><br>
            <p>After thoughtful planning, I'm excited to introduce you to my website, which I manage with the same friendly and welcoming tone you see here. It's essentially a blog where I share intriguing cases and my latest projects, all approached with a genuine blend of professionalism and warmth.</p>
            <p>This venture is all about pursuing my ultimate dream and passion: Music.</p>
        <p>Music has been the driving force behind my journey, inspiring me to expand my knowledge and skills. Starting as a music enthusiast exploring European clubs, I gradually transitioned into DJing and music production. I'm eager to share this musical adventure with you as we explore the world of music, technology, and creativity together.</p>
<p> Your trust in my skills as the sole repair technician behind this operation is truly appreciated. Please don't hesitate to reach out if you have any questions or if there's anything I can assist you with.</p>
              
                <img src="/images/sine.png" alt="pic2" class="img-fluid mx-auto d-block">
        </div>
    </div>
</div>
<br><br>
<!-- Paragraph 2-->

<div class="container">
    <div class="row m-4">
        <div class="col-md-6">
            <h2>School and apprenticeship</h2><br>
            <p>Understanding the profound connection between electronics and electronic music, I found myself craving more. Enrolling in an electronics technical institute in Italy, I was fortunate to have an instructor with experience in designing music-related products who supported and guided my projects.

</p>
            <p>After successful studies, I relocated to Berlin to pursue a career in the music industry. A pivotal moment came when I joined the renowned SoundDevices repair center. Starting as an intern, I soon earned a position as a junior repair technician. Under the mentorship of seasoned professionals, I honed my troubleshooting skills and developed a unique methodology.

</p>
            <p>This journey was made possible through the company's trust, which eventually led to my employment, and my mentors' invaluable guidance, for which I'm deeply grateful.




</p>

            <img src="/images/square.png" alt="pic2" class="img-fluid mx-auto d-block">
        </div>
        <div class="col-md-6">
            <img src="/images/about3.jpg" alt="pic2" class="img-fluid mx-auto d-block" style="max-width: 80%; max-height: 80%;">
        </div>

    </div>
</div>

<!-- Paragraph 3-->
<div class="container">
    <div class="row m-4">
        <div class="col-md-6">
            <img src="/images/about4.jpg" alt="pic1" class="img-fluid mx-auto d-block" style="max-width: 80%; max-height: 80%;">
        </div>
        <div class="col-md-6">
            <h2>Evolution of things</h2><br>
            <p> Unfortunately, the company decided to move its European division to another country. But this marked the start of my personal journey.</p>
            <p>For over a year, friends tagged me as "the go-to guy for fixing neglected studio equipment." The word spread, and people started reaching out for help with all sorts of gear – synthesizers, DJ equipment, pedals, and studio mixers.</p>
        <p>As each successful repair led to conversations and shared excitement, it became clear that I could put my skills to broader use. That's how this page came to be. Considering my occasional procrastination, where projects often don't get fully completed, I decided to keep this website informal, more like a blog than a formal professional platform.</p>
        <p>Thank you for taking the time to explore my journey and passion here. I'm excited to share this adventure with you as we explore the world of music, technology, and creativity. Your trust in my skills as the sole repair technician is invaluable, and I'm always here to assist with any questions or projects you may have in mind.</p>
        <p>Stay tuned for more intriguing cases, projects, and music-related stories. Together, we'll continue this exciting journey.</p>

                <img src="/images/triangle.png" alt="pic2" class="img-fluid mx-auto d-block">
        </div>
    </div>
</div>