<div id="carouselExample" class="carousel slide">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="/images/slide-1.png" class="d-block w-100" alt="Slide 1">
            <div class="carousel-caption d-none d-md-block">
                <h2>LET YOUR SYNTH SHINE AGAIN!</h2>
                <p>Whether you're looking to repair your beloved synth or want to buy high-quality components, we've got you covered. Click below to know more about The Synth Doctor</p>
                <a class="btn btn-outline-light" href="/about">READ MORE</a> 
            </div>
          </div>
          <div class="carousel-item">
            <img src="/images/slide-2.jpg" class="d-block w-100" alt="Slide 2">
            <div class="carousel-caption d-none d-md-block">
                <h2>OUR SERVICES</h2>
                <p>Login to request a repair or see the current status of your synth</p>
                <a class="btn btn-outline-light" href="/login">LOGIN</a> 
            </div>
          </div>
          <div class="carousel-item">
            <img src="/images/Long-Read-Feat-Images-1.jpg" class="d-block w-100" alt="Slide 3">
            <div class="carousel-caption d-none d-md-block">
                <h2>VISIT OUR BLOG</h2>
                <p>Get to know more about the Synth Doctor better through his patients</p>
                <a class="btn btn-outline-light" href="/blog">BLOG</a> 
            </div>
          </div>
          <div class="carousel-item">
            <img src="/images/slide-3.png" class="d-block w-100" alt="Slide 4">
            <div class="carousel-caption d-none d-md-block">
                <h2>CONTACT US</h2>
                <p>Write the Synth Doctor himself if you have any further questions regarding your repair request</p>
                <a class="btn btn-outline-light" href="/contact">CONTACT</a> 
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
</div>
    
<div class="container text-center spacing fs-3">
  <div class="row text-center">
    <div class="col-sm-4">
      <img src="/images/8.png" alt="">
    </div>
    <div class="col-sm-4">
      <h2>How can I repair my Synth?</h2>
    </div>
    <div class="col-sm-4">
      <img src="/images/8.png" alt="">
    </div>
  </div>
</div>

<div class="container spacing text-center fs-4">
  <div class="row spacing">
    <div class="col d-flex justify-content-end">
      <img class="img-responsive" src="/images/user.png" alt="">
    </div>
    <div class="col">
      <h3 >Create a user</h3>
      <p >Create a user to open a patient file with the Synth Doctor</p>
    </div>
  </div>
    <div class="row spacing">
    <div class="col">
      <h3>Contact us</h3>
      <p>Find the form in your profile and fill it, describe the problem of the device at your best, so we can provide you the best possible service in the process</p>
    </div>
    <div class="col d-flex justify-content-start">
      <img class="img-responsive" src="/images/homes2.png" alt=""{{!--  style="width: 400px; height: 400px;" --}}>
    </div>
  </div>
    <div class="row spacing">
    <div class="col d-flex justify-content-end">
      <img class="img-responsive" src="/images/step-2.png" alt="">
    </div>
    <div class="col">
      <h3>Repair</h3>
      <p>This is the moment we you can sit down and relax and we do the work. The Synth Doctor will take care of your device, you can check its current status in your profile</p>
    </div>
  </div>
      <div class="row spacing">
    <div class="col">
      <h3>Enjoy</h3>
      <p>Once the job is done, a pick up time will be fixed. Come here, try out the your synth as long as you want</p>
    </div>
    <div class="col d-flex justify-content-start">
      <img class="img-responsive" src="/images/step-3.png" alt="">
    </div>
  </div>



</div>

<div class="container">
  <div class="row spacing">
    <div class="col text-center">
      <img src="/images/8.png" alt="">
    </div>
  </div>
</div>
    
<div class="text-center spacing">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 homewidget">
            <div class="image-container-size">
  <div class="image-container">
    <a target="_blank" href="">
      <div class="caption">About Me</div>
      <img class="image-container-size" src="/images/microscope1.png" alt="about" style="width: 400px; height: 400px;"> 
    </a>
  </div>
</div>

      </div>
      <div class="col-sm-6 homewidget">
        <div class="image-container-size">
          <div class="image-container">
            <a target="_blank" href="https://eu.mouser.com/">
              <div class="caption">Components Shop(coming soon)</div>
              <img class="image-container-size" src="/images/synthimg.png" alt="Know our components" style="width: 400px; height: 400px;" >
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



