<!-- Header-->

<div class="container-fluid">
    <div class="row text-center">
        <div class="col">
            <h1>MY PROJECTS</h1>
            <br>
            <br>
        </div>
    </div>
</div>

<!-- Paragraph 1-->

<div class="container">
    <div class="row m-4">
        <div class="col-md-6">
            <img src="/images/services1.jpg" alt="pic1" class="img-fluid mx-auto d-block">
        </div>
        <div class="col-md-6">
            <h2>The neverending story of my mixer.</h2><br>
            <p>Some stories are like this, never ending and full of troubles, but full of passion and personal
                developing that we can't just let them go....
                Here is how I acquired, repetitively broke and fixed my studio mixer....
                He is still a worthy companion of my desk , but oh boy, the time with him has been a total
                roller-coaster! <a href="https://witty-frog-poncho.cyclic.app/services-details">Click here</a> for the full story.</p>
                <img src="/images/servicesdivider1.jpg" alt="pic2" class="img-fluid mx-auto d-block">
        </div>
    </div>
</div>
<br><br>
<!-- Paragraph 2-->

<div class="container">
    <div class="row m-4">
        <div class="col-md-6">
            <h2>The corona times and the private party era...</h2><br>
            <p>Funny times the one on our shoulders (I hope), where for a moments everyone was pushed back to the real
                underground, and the only way to socialize and dance was to organize some private party, mostly at home
                and online....

                Funny times also for me, as most of the device I opened at that time brought the smell of the some
                alcholic kind..... vodka, wine or beer everyone had a bit too much that night.

                Fortunately all of them was an easy fix, and the device could keep fulfilling the boring days of that
                time :)
            </p>
            <img src="/images/servicesdivider2.png" alt="pic2" class="img-fluid mx-auto d-block">
        </div>
        <div class="col-md-6">
            <img src="/images/services2.jpg" alt="pic2" class="img-fluid mx-auto d-block" style="max-width: 80%; max-height: 80%;">
        </div>

    </div>
</div>