<div class="container-fluid text-center">
    <h1>ONCE UPON A TIME....</h1>
</div>



<div class="container my-4">
    <div class="row">
        <div class="col-md-6 text-center">
            <img src="/images/soundcraft.jpg" class="img-fluid" alt="Big Picture">
        </div>
        <div class="col-md-6">
            <div class="mx-auto text-left">
                <p>there was a mixer lying in a cold Berliner "keller", an unknown traveler was begging for help and I
                    was standing in the waiting room at the doctor.....

                    Trying to not die by boredom and checking internet looking for some tape recorder to transform in a
                    vary-speed, I found this strange help request: "Free my basement and you can keep what you
                    want!"......

                    After accurate zooming I found the first patient, giving me a begging look from behind an old
                    blanket and two empty canes of varnish...... I know couldn't let him alone and rushed to the
                    Mysterious destinations....</p>
            </div>
        </div>
    </div>
</div>

<div class="container my-4">
    <div class="row">
        <div class="col-md-6">
            <div class="mx-auto text-left">
                <h2>REPAIR STORY: </h2><br>
                <p>The mixer was in good condition, just a bit dusty and rusty, but nothing that a deep cleaning
                    couldn't fix...... but I still haven't connected it to the power.<br><br>

                    After taking all the precautions of the case I opened the case and saw already a problem, the return
                    section isn't attached to rest of the system..... not good!!<br><br>

                    I checked the power supply, everything seems good..... let's switch it on!<br><br>

                    +/-15V CHECK<br>
                    +48V CHECK<br>
                    +15V CHECK<br><br>

                    everything seems good enough to me...... this mixer still have a hope!<br><br>

                    as I felt lucky (as the previous owner declared, the mixer had no problems back in the days beside
                    some not working channels....) I decided to connect the main board, and everything seemed to work,
                    just a dead channel that I decided to exclude from the rest of the mixer, as it was useless anyway.<br><br>

                    The return board wasn't too much perfect tough, some fader and potentiometers were bend and it was
                    already detached....... but as from testing there was no sign of fault I, contemptuous of danger,
                    decided to put all together to let them enjoy to be together again..........<br><br>

                    And nothing
                    Everything seemed stable and working,
                    What a shame, I didn't need to do much more than clean for a couple of day every single part of the
                    mixer and that was done. Not even the chance of doing some experience.<br><br>

                    Fortunately the first problem didn't let me wait too much...... some of the returns are bleeding
                    into each other (aka letting the sound flow where it shouldn't). Finally some fun!<br><br>

                    Schematics on hand, I was all ready to fix this not so big problem, but less i know that the story
                    of this mixer was just begun.... more in the next chapter :)</p>
            </div>
        </div>
        <div class="col-md-6">
            <img src="/images/servicedetails3.jpg" class="img-fluid" alt="Big Picture">
        </div>
    </div>
</div>