<div class="container mt-5 text-center">
  <h1>User Info</h1>
<div class="mt-5 mb-5">
      <p><strong>NAME:</strong> {{user.name}}</p>
  <p><strong>SURNAME:</strong> {{user.surname}}</p>
  <p><strong>EMAIL:</strong> {{user.email}}</p>


</div>

</div>