{{!-- <!-- Header -->
<div class="container-fluid">
    <div class="row text-center">
        <div class="col">
            <h1>Why Log In Before Requesting a Repair?</h1>
            <br>
            <br>
        </div>
    </div>
</div>
 --}}
<!-- Introduction -->
<div class="container">
    <div class="row m-4 text-center">
        <div class="col-md-6 mx-auto">
            <h2>Your Repair Journey Starts with Logging In</h2><br>
            <p>Hello there! Before you share the details of your repair needs, let me take a moment to explain why logging in is a game-changer.</p>
            <p>This website isn't just a platform; it's my crafted space designed with care and dedication. Your login significantly contributes to the efficiency of the repair process in several ways:</p>
            <ul>
                <li><strong>Organized Repair Cases:</strong> Your login helps me keep track of your repair history, allowing for a more organized and personalized experience.</li>
                <li><strong>Smart Functions:</strong> Behind the scenes, I've integrated smart functions that assist in time calculations, guide repair steps, facilitate the billing process, and even help me track the components used.</li>
                <li><strong>Efficiency Unleashed:</strong> Logging in enables a seamless connection between you and the repair process, ensuring a quicker, more tailored experience for your repair requests.</li>
            </ul>
            <p>So, by logging in, you're not just creating an account; you're becoming a part of a collaborative space where your repair needs are met with precision and care.</p>
            <p>Ready to begin? <a target="_blank" href="/login">Login</a></p>
            <p>If you haven't registered yet, <a target="_blank" href="/create">Create an Account</a> and unlock a world of efficient repairs!</p>
        </div>
    </div>
</div>
